<template>
    <v-app>
    <v-navigation-drawer app
      v-model="drawer"
      :mini-variant.sync="mini"
      dark
      clipped
    >
        <v-img :aspect-ratio="16/8" src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
        <v-row align="end" class="lightbox white--text pa-2 fill-height">
          <v-col>
            <div class="subheading">Valoro</div>
            <div class="body-1"></div>
          </v-col>
        </v-row>
      </v-img>

      <v-list-item>
        <v-list-item-avatar>
          <v-img src="https://randomuser.me/api/portraits/men/86.jpg"></v-img>
        </v-list-item-avatar>

        <v-list-item-title>Jorge Nunez Lopez</v-list-item-title>

        <v-btn
          icon
          @click.stop="mini = !mini"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>
      <v-divider></v-divider>
      <v-list >
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          :to="item.route"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>

            <v-list-item-title >{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <pruebaHeader/>
      <router-view/>

      <pruebaFooter/>
    </v-content>

    </v-app>
</template>

<script>

import pruebaFooter from '../components/layouts/footer.vue'
import dashboard from '../components/dashboard.vue'
import pruebaHeader from '../components/layouts/header.vue'

export default {

  data () {
    return {

      drawer: true,

      items: [
        { title: 'Inicio', icon: 'mdi-home-city', route: '/homeValoro' },
        { title: 'Prueba', icon: 'mdi-account', route: '/pruebas' },
        { title: 'providers', icon: 'mdi-account-group-outline', route: '/providers' },
        { title: 'Contacto', icon: 'mdi-phone', route: '/footer' }
      ],
      mini: true,
      collapseOnScroll: true
    }
  },
  components: { pruebaFooter, pruebaHeader, dashboard }
}
</script>
