<template>
    <v-container>
      <pruebaFiltros/>
      <pruebaTabla/>
    </v-container>
</template>

<script>
import pruebaFiltros from './filtros.vue'
import pruebaTabla from './tabla.vue'

export default {
  data () {
    return {

    }
  },

  components: { pruebaFiltros, pruebaTabla }
}
</script>
