<template>
    <v-row justify="center" style="background:red">
    <v-dialog
     v-model="dialog"
     max-width="800px"
     persistent
     >
      <template v-slot:activator="{ on }">
    <v-btn
     small
     color="blue"
     dark
     absolute
     bottom
     right
     fab
     v-on="on"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
      <!--  <v-btn color="secondary" dark v-on="on">Registrar nuevo</v-btn>-->
      </template>
      <v-form
      ref="form"
      v-model="valid"
      >
      <v-card>
        <v-card-title>
          <span class="headline">Nuevo Siniestro</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                label="No Siniestro*"
                v-model="rows.siniestro"
                required
                :rules="sinisterNumber"
                :counter="200"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <!--start-->
                <v-menu
              ref="startMenu"
              :close-on-content-click="false"
              :return-value.sync="datepicked"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="rows.fecha"
                  label="Fecha de ocurrido"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-on="on"

                ></v-text-field>
              </template>
              <v-date-picker
                v-model="rows.fecha"
                no-title
                scrollable
              >
                <div class="flex-grow-1"></div>
                <v-btn
                  text
                  color="primary"
                  @click="$refs.startMenu.isActive = false"
                >Cancel</v-btn>
                <v-btn
                  text
                  color="primary"
                  @click="$refs.startMenu.save(rows.fecha)"
                >OK</v-btn>
              </v-date-picker>
            </v-menu>
            <!-- finish -->
              </v-col>
              <v-col cols="12" sm="6">
                <v-select
                  :items="highways"
                  label="Autopista*"
                  v-model="rows.autopista"
                  item-text="name"
                  item-value="id"
                  required

                ></v-select>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  label="cuerpo*"
                  hint="Importante rellenar este dato"
                  v-model="rows.cuerpo"
                  persistent-hint
                  required
                  :counter="2"
                  :rules="bodyRules"
                >
                </v-text-field>
              </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                  label="kilometro"
                  v-model="rows.kilometro"
                  type="number"
                  required
                  :rules="[v => !!v || 'El km de siniestro es requerido']"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  label="Metro"
                  v-model="rows.metro"
                  type="number"
                  required
                  :rules="[v => !!v || 'El metro de siniestro es requerido']"
                ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
                <v-text-field
                  label="Póliza"
                  v-model="rows.poliza"
                  :counter="100"
                  required
                  :rules="[v => !!v || 'La poliza del siniestro es requerida']"
                ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
                <v-select
                  :items="providers"
                  label="Proveedor*"
                  v-model="rows.proveedor"
                  item-text="name"
                  item-value="id"
                ></v-select>
            </v-col>
            <v-col cols="12" sm="12">
              <v-file-input show-size counter multiple label="File input" v-model="rows.budget"></v-file-input>
            </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="blue darken-1" text @click="cleanArray">Cancelar</v-btn>
          <v-btn color="blue darken-1" text @click="addSinisters" :disabled="!valid">Guardar</v-btn>
        </v-card-actions>
      </v-card>
      </v-form>
    </v-dialog>
  </v-row>
</template>

<script>
const axios = require('axios')
var bodyFormData = new FormData();
export default {
  data: () => ({
    dialog: false,
    valid: true,
    date: null,
    datepicked: null,
    providers: [],
    highways: [],
    editedIndex: -1,
    rows:
     {
       siniestro: '',
       fecha: '',
       autopista: '',
       cuerpo: '',
       kilometro: 0,
       metro: 0,
       poliza: '',
       proveedor: '',
       budget: null
     },
    sinisterNumber: [
      v => !!v || 'El num de siniestro es requerido',
      v => v.length <= 200 || 'El num de siniestro debe ser menor de 200 caracteres'
    ],
    bodyRules: [
      v => !!v || 'El cuerpo es requerido',
      v => v.length <= 2 || 'El cuerpo debe ser menor que 2 caracteres'
    ]
  }),
  props: {
    openDialog: {type: Boolean},
    item: ''
  },
  methods: {
    addSinisters () {
    if (this.$refs.form.validate()) {
      //MEJORAR!!!
      bodyFormData.set('number', this.rows.siniestro);
      bodyFormData.set('date', this.rows.fecha);
      bodyFormData.set('body', this.rows.cuerpo);
      bodyFormData.set('police', this.rows.poliza);
      bodyFormData.set('kilometer', this.rows.kilometro);
      bodyFormData.set('meter', this.rows.metro);
      bodyFormData.append('budget', this.rows.budget[0]);
      bodyFormData.set('highway', this.rows.autopista);
      bodyFormData.set('provider', this.rows.proveedor);
      //
      console.log(bodyFormData)

      if(this.editedIndex > -1){
        axios({
        method: 'patch',
        url: `http://127.0.0.1:8000/api/v1/sinisters/${this.editedIndex}/`,
        data: bodyFormData,
        config: { headers: {'Content-Type': 'multipart/form-data' }}
      }).then(function (response) {
          console.log(response);
        })
        .catch(function (response) {
            console.log(response);
        });

      }else{      

      axios({
        method: 'post',
        url: 'http://127.0.0.1:8000/api/v1/sinisters/',
        data: bodyFormData,
        config: { headers: {'Content-Type': 'multipart/form-data' }}
      }).then(function (response) {
          console.log(response);
        })
        .catch(function (response) {
            console.log(response);
        });
       }
      }
      this.editedIndex = -1
      this.dialog = false
    },
    cleanArray () {
      //mejorar
      this.rows.siniestro = ''
      this.rows.fecha = ''
      this.rows.autopista = ''
      this.rows.cuerpo = '' 
      this.rows.kilometro = 0
      this.rows.metro = 0
      this.rows.poliza = ''
      this.rows.proveedor = ''
      this.rows.budget = null
      this.dialog = false
      this.editedIndex = -1
    }
  },
  mounted () {
    axios.get('http://127.0.0.1:8000/api/v1/providers')
      .then(response => (this.providers = response.data))
      .catch(error => console.log(error))

    axios.get('http://127.0.0.1:8000/api/v1/highways')
      .then(response => (this.highways = response.data))
      .catch(error => console.log(error))
  },
  watch: {
    openDialog (val) {
      this.dialog = val
    },
    item (val) {
      this.editedIndex =  val.id
      if(this.editedIndex > -1){
        this.rows.siniestro = val.number
        this.rows.fecha = val.date
        this.rows.autopista = val.highway
        this.rows.cuerpo = val.body 
        this.rows.kilometro = val.kilometer
        this.rows.metro = val.meter
        this.rows.poliza = val.police
        this.rows.proveedor = val.provider
        //this.rows.budget = val.budget //Arreglar!!!
      }
      console.log(this.editedIndex)
      console.log(val)
    },
    dialog (val) {
      this.$emit('closeDialog', this.dialog)
    }
  }
}
</script>
