<template>
  <v-expansion-panels>

    <v-expansion-panel>
      <v-expansion-panel-header v-slot="{ open }">
        <v-row no-gutters>
          <v-col cols="2">Filtros</v-col>
          <v-col
            cols="10"
            class="text--secondary"
          >
            <v-fade-transition leave-absolute>
              <span v-if="open">Información de reporte de siniestros</span>
              <v-row
                v-else
                no-gutters
                style="width: 100%"
              >
                <v-col cols="3">Desde: {{ trip.start || '--' }}</v-col>
                <v-col cols="3">Hasta: {{ trip.end || '--' }}</v-col>
                <v-col cols="2">{{ waySelected.id || '--' }}</v-col>
                <v-col cols="2">{{ provSelected.name || '--' }}</v-col>
                <v-col cols="2">{{ select.selectEstatus || '--' }}</v-col>

              </v-row>
            </v-fade-transition>
          </v-col>
        </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-row
          justify="space-around"
          no-gutters
        >
          <v-col cols="2">
            <v-menu
              ref="startMenu"
              :close-on-content-click="false"
              :return-value.sync="trip.start"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="trip.start"
                  label="Desde"
                  prepend-icon="far fa-calendar-alt"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="date"
                no-title
                scrollable
              >
                <div class="flex-grow-1"></div>
                <v-btn
                  text
                  color="primary"
                  @click="$refs.startMenu.isActive = false"
                >Cancel</v-btn>
                <v-btn
                  text
                  color="primary"
                  @click="$refs.startMenu.save(date)"
                >OK</v-btn>
              </v-date-picker>
            </v-menu>
          </v-col>

          <v-col cols="2">
            <v-menu
              ref="endMenu"
              :close-on-content-click="false"
              :return-value.sync="trip.end"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="trip.end"
                  label="Hasta"
                  prepend-icon="far fa-calendar-alt"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="date"
                no-title
                scrollable
              >
                <div class="flex-grow-1"></div>
                <v-btn
                  text
                  color="primary"
                  @click="$refs.endMenu.isActive = false"
                >
                  Cancel
                </v-btn>
                <v-btn
                  text
                  color="primary"
                  @click="$refs.endMenu.save(date)"
                >
                  OK
                </v-btn>
              </v-date-picker>
            </v-menu>
          </v-col>

          <v-col cols="2">
                <v-row>
                    <v-col cols="12">
                        <v-combobox
                        :items="highways"
                        label="Autopista"
                        item-text="name"
                        item-value="id"
                        v-model="waySelected"
                        dense
                        clearable
                        ></v-combobox>
                    </v-col>
                </v-row>
          </v-col>

          <v-col cols="2">
                <v-row>
                    <v-col cols="12">
                        <v-combobox
                        :items="providers"
                        label="Proveedor"
                        item-text="name"
                        item-value="id"
                        v-model="provSelected"
                        dense
                        clearable
                        ></v-combobox>
                    </v-col>
                </v-row>
          </v-col>

          <v-col cols="2">
                <v-row>
                    <v-col cols="12">
                        <v-combobox
                        v-model="select.selectEstatus"
                        :items="estatus"
                        label="Estatus"
                        dense
                        ></v-combobox>
                    </v-col>
                </v-row>
          </v-col>

        </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
const axios = require('axios')

export default {
  data: () => ({
    date: null,
    trip: {
      start: null,
      end: null
    },
    autopistas: [
      'Autopista_1',
      'Autopista_2',
      'Autopista_3'
    ],
    estatus: ['aprobado', 'rechazado'],
    select: {
      selectAutopistas: '',
      selectProveedor: '',
      selectEstatus: ''
    },
    provSelected: [],
    searchProvider: '',
    providers: [],
    highways: [],
    waySelected: '',
    searchWay: '',
  }),
   mounted () {
    axios.get('http://127.0.0.1:8000/api/v1/providers')
      .then(
        response => (this.providers = response.data)
        )
      .catch(error => console.log(error))

      axios.get('http://127.0.0.1:8000/api/v1/highways')
      .then(
        response => (this.highways = response.data)
        )
      .catch(error => console.log(error))
  },
  watch: {
    provSelected: function(val) {
      if(!val){this.searchProvider = ''}else{this.searchProvider = val.id.toString()}
       this.$bus.$emit('searchproviderSinisters', this.searchProvider)
    },
    
    waySelected: function(val) {
      if(!val){this.searchWay = ''}else{this.searchWay = val.id.toString()}
       this.$bus.$emit('searchwaySinisters', this.searchWay)
    }
  }
}
</script>
