<template>
    <v-container>

            <h2>Añadir proveedor:</h2>
            <v-form
            ref="form"
            >
            <v-row>
                <v-col cols="12" sm="12">
                    <v-text-field
                    label="Nombre*"
                    required
                    :counter="20"
                    v-model="newProvider.name"
                    >
                    </v-text-field>
                </v-col>
                <v-col cols="12" sm="12">
                    <v-text-field
                    label="Apellido Paterno"
                    required
                    :counter="20"
                    v-model="newProvider.lastName"
                    >
                    </v-text-field>
                </v-col>
                <v-col cols="12" sm="12">
                    <v-text-field
                    label="Apellido Materno*"
                    required
                    :counter="20"
                    v-model="newProvider.motherName"
                    >
                    </v-text-field>
                </v-col>
                <v-btn color="blue darken-1" @click="addProviders">Guardar</v-btn>
            </v-row>
            </v-form>
            <br>
             <h2>Añadir carreteras:</h2>
            <v-form
            ref="formu"
            >
            <v-row>
                <v-col cols="12" sm="12">
                    <v-text-field
                    label="Nombre"
                    required
                    :counter="20"
                    v-model="newHighway.name"
                    >
                    </v-text-field>
                </v-col>
                <v-col cols="12" sm="12">
                    <v-text-field
                    label="Nombre clave"
                    required
                    :counter="20"
                    v-model="newHighway.keyName"
                    >
                    </v-text-field>
                </v-col>
                <v-col cols="12" sm="12">
                    <v-text-field
                    label="Descripción"
                    required
                    :counter="20"
                    v-model="newHighway.desc"
                    >
                    </v-text-field>
                </v-col>
                <v-btn color="blue darken-1" @click="addHighway">Guardar</v-btn>
            </v-row>
            </v-form>
            <br>
    <v-container style="margin-bottom: 100px;">
            <h2>Modificar Proveedor:</h2>
              <v-form>
                <v-row>
                <v-col cols="12" sm="12">
                <v-select
                  :items="providers"
                  label="Proveedor"
                  v-model="modiProvider.id"
                  item-text="name"
                  item-value="id"
                >
                </v-select>
                </v-col>
                <v-col cols="12" sm="12">
                  <v-text-field
                    label="Nombre"
                    required
                    :counter="20"
                    v-model="modiProvider.name"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12">
                  <v-text-field
                    label="Apellido Paterno"
                    required
                    :counter="20"
                    v-model="modiProvider.last_name"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12">
                  <v-text-field
                    label="Apellido Materno"
                    required
                    :counter="20"
                    v-model="modiProvider.motherName"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12">
                <v-btn color="green" @click="modProvider">Modificar</v-btn>
                </v-col>
                </v-row>
              </v-form>
        </v-container>
    </v-container>
</template>

<script>
const axios = require('axios')

export default {
  data: () => ({
    newProvider:
     {
       name: '',
       lastName: '',
       motherName: ''
     },
    newHighway:
    {
      name: '',
      keyName: '',
      desc: ''
    },
    providers: [],
    modiProvider: 
    {
      id: '',
      name: '',
      last_name: '',
      motherName: ''
    }
  }),
  methods: {
    addProviders () {
      console.log(this.newProvider)
      axios.post('http://127.0.0.1:8000/api/v1/providers/', {
        name: this.newProvider.name,
        last_name: this.newProvider.lastName,
        mothers_last_name: this.newProvider.motherName
      }).then(response => {
        // Respuesta del servidor

      }).catch(e => {
        console.log(e)
      })
    },

    addHighway () {
      console.log(this.newHighway)
      axios.post('http://127.0.0.1:8000/api/v1/highways/', {
        name: this.newHighway.name,
        codename: this.newHighway.keyName,
        desctiption: this.newHighway.desc
      }).then(response => {
        // Respuesta del servidor

      }).catch(e => {
        console.log(e)
      })
    },

    modProvider () {
      axios.put(`http://127.0.0.1:8000/api/v1/providers/${this.modiProvider.id}/`, {
        name: this.modiProvider.name,
        last_name: this.modiProvider.last_name,
        mothers_last_name: this.modiProvider.motherName,
      })
        .then(response => {
          console.log(response)
        })
        .catch(error => {
          console.log(error)
        })
    }
  },
    mounted () {
    axios.get('http://127.0.0.1:8000/api/v1/providers')
      .then(response => (this.providers = response.data))
      .catch(error => console.log(error))
  }
}
</script>
