<template>
<v-container fluid>
    <v-row>
      <v-col cols="12" style="position:relative;">
       <pruebaDialog :openDialog="openDialog" :item="sendingItem" @closeDialog="closingEditableDialog"></pruebaDialog>
      </v-col>
    </v-row>
    <v-data-table
    :headers="headers"
    :items="dessertsfilter"
    :items-per-page="10"
    item-key="name"
    class="elevation-1"
    >
    <template v-slot:item.action="{ item }">
        <v-icon
          medium
          class="mr-2"
          @click="editItem(item)"
        >
          mdi-square-edit-outline
        </v-icon>
        <v-icon
          medium
          @click="deleteItem()"
        >
          mdi-delete
        </v-icon>
      </template>
      <template v-slot:item.budget="{ item }">
        <a :href="item.budget" v-show="item.budget" @click.prevent="downloadFile(item.number,item.budget)">
          <v-icon
          medium
          >
            mdi-file
          </v-icon>
        </a>
      </template>
    <!--<template v-slot:item.highway="{ item }"> 
      {{desserts.map(function(x) {return x.id; }).indexOf(item.id)}}
    </template>-->
    </v-data-table>

</v-container>
</template>

<script>
import pruebaDialog from './dialogForTable.vue'
const axios = require('axios')

export default {
  data () {
    return {
      openDialog: false,
      sendingItem: [],
      hidden: true,
      headers: [
        {
          text: 'No de Siniestro',
          align: 'left',
          sortable: false,
          value: 'number',
          filterable: false
        },
        { text: 'Fecha Ocurrido', value: 'date',filterable: false },
        { text: 'Autopista', value: 'highway',filterable: false},
        { text: 'Cuerpo', value: 'body',filterable: false},
        { text: 'kilometro', value: 'kilometer',filterable: false },
        { text: 'Metro', value: 'meter',filterable: false },
        { text: 'Póliza', value: 'police', filterable: false },
        { text: 'Proveedor', value: 'provider'},
        { text: 'Archivo', value: 'budget'},
        { text: 'Actions', value: 'action', sortable: false },
      ],
      desserts: [],
      dessertsfilter: [],
      search: '',
    }
  },
  components: { pruebaDialog },
  methods: {
    editItem (item) {
      this.openDialog = true
      this.sendingItem = item
    },
    closingEditableDialog (event){
      this.openDialog = event
    },
    deleteItem () {
      confirm('Funcionalidad no implementada aún!')
    },
    downloadFile (name,url) {
      let dotPosition = url.lastIndexOf(".")
      let fileType = url.substr(dotPosition)//url.substr(url.length - 4)
      console.log(fileType)
    axios.get(url, { responseType: 'blob' })
      .then(({ data }) => {
        const blob = new Blob([data], { type: 'application/png' }) // "application/pdf"
        let link = document.createElement('a')
        link.href = window.URL.createObjectURL(blob)
        link.download = `${name}${fileType}` // "download.pdf"
        link.click()
      }).catch(error => console.error(error)) 
    }
  },
  mounted () {
    axios
      .get('http://127.0.0.1:8000/api/v1/sinisters')
      .then(response => (
        this.desserts = response.data,
        this.dessertsfilter = response.data,
        console.log(this.desserts)
        ))
      .catch(error => console.log(error))
  },
  created(){
    this.$bus.$on('searchproviderSinisters',(searchprovider) =>{ 
      //this.search = searchprovider
      if(searchprovider){
      this.dessertsfilter = this.desserts.filter(i => i.provider == searchprovider)
      }else{
        this.dessertsfilter = this.desserts
      }
    }),
    this.$bus.$on('searchwaySinisters',(searchWay) =>{ 
      if(searchWay){
      this.dessertsfilter = this.desserts.filter(i => i.highway == searchWay)
      }else{
        this.dessertsfilter = this.desserts
      }
  })
  },
}
</script>
