<template>
<v-app>
     <!-- <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>-->
    <!--<router-view/>-->
    <homePage/>
</v-app>
</template>

<script>
import homePage from './views/homePage.vue'
export default {
  components: { homePage }
}
</script>

<style lang="scss">

</style>
