{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    {% render_bundle 'app' 'css' %}
    <title>Django + Vue.js</title>
  </head>

  <body>
    <div id="app"></div>
    {% render_bundle 'app' 'js' %}
  </body>

</html>
