<template>
    <v-footer
      absolute
      class="font-weight-medium"
    >
      <v-col
        class="text-center"
        cols="12"
      >
        {{ new Date().getFullYear() }} — <strong style="color: orange;">Valoro</strong> todos los derechos reservados.
      </v-col>
    </v-footer>
</template>
